# Revision

Series

In [ ]:
import pandas as pd

In [ ]:
a=[1,2,3,4,5]
s=pd.Series(a)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s=pd.Series(a,index=["A","B","C","D","E"])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [ ]:
d={"A":57,"B":90,"C":88,"D":82}

s=pd.Series(d)
print(s)

A    57
B    90
C    88
D    82
dtype: int64

Data-Frame

In [ ]:
d={
    "Roll":[1,2,3,4],
    "Name":["Kapil","Reena","Shatabdee","Ankan"],
    "Marks":[67,72,54,90]
}

In [ ]:
df=pd.DataFrame(d)
print(df)

   Roll       Name  Marks
0     1      Kapil     67
1     2      Reena     72
2     3  Shatabdee     54
3     4      Ankan     90

In [ ]:
print(df.loc[0:1,"Name"])

0    Kapil
1    Reena
Name: Name, dtype: object

In [ ]:
print(df.loc[0])

Roll         1
Name     Kapil
Marks       67
Name: 0, dtype: object

In [ ]:
print(df.loc[1:2])

   Roll       Name  Marks
1     2      Reena     72
2     3  Shatabdee     54

In [ ]:
print(df.loc[[0,3]])

   Roll   Name  Marks
0     1  Kapil     67
3     4  Ankan     90

In [ ]:
print(df["Marks"])

0    67
1    72
2    54
3    90
Name: Marks, dtype: int64

In [ ]:
print(df[["Name","Marks"]])

        Name  Marks
0      Kapil     67
1      Reena     72
2  Shatabdee     54
3      Ankan     90

In [ ]:
print(df["Name"])

0        Kapil
1        Reena
2    Shatabdee
3        Ankan
Name: Name, dtype: object

In [ ]:
print(df)

   Roll       Name  Marks
0     1      Kapil     67
1     2      Reena     72
2     3  Shatabdee     54
3     4      Ankan     90

In [ ]:
print(df.iloc[0:2,2]) # iloc takes till n-1

0    67
1    72
Name: Marks, dtype: int64

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [ ]:
print(df.head(10))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0
5    -119.56     36.51                37.0       1018.0           213.0
6    -121.43     38.63                43.0       1009.0           225.0
7    -120.65     35.48                19.0       2310.0           471.0
8    -122.84     38.40                15.0       3080.0           617.0
9    -118.02     34.08                31.0       2402.0           632.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
5       663.0       204.0         1.6635             67000.0
6       604.0       218.0         1.6641             67000.0
7      1341.0       441.0         3.2250            166900.0
8      1446.0       599.0         3.6696            194400.0
9      2830.0       603.0         2.3333            164200.0

In [ ]:
print(df.tail(3))

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None

In [ ]:
print(df.describe())

         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

In [ ]:
d={
    "Roll":[1,2,3,4],
    "Name":["Kapil","Reena","Shatabdee","Ankan"],
    "Marks":[67,72,54,90]
}
df=pd.DataFrame(d)
print(df)

   Roll       Name  Marks
0     1      Kapil     67
1     2      Reena     72
2     3  Shatabdee     54
3     4      Ankan     90

In [ ]:
df["Gender"]=["Male","Female","Female","Male"]
df["new"]=[10,20,30,40]
df

   Roll       Name  Marks  Gender  new
0     1      Kapil     67    Male   10
1     2      Reena     72  Female   20
2     3  Shatabdee     54  Female   30
3     4      Ankan     90    Male   40

In [ ]:
df.drop("new",axis=1,inplace=True)

print(df)

   Roll       Name  Marks  Gender
0     1      Kapil     67    Male
1     2      Reena     72  Female
2     3  Shatabdee     54  Female
3     4      Ankan     90    Male

In [ ]:
# df.loc[4]=[5,"Shubham",84,"Male"]
# print(df)

rows=[{"Roll":4,"Name":"Shubham","Marks":None,"Gender":"Male"},{"Roll":5,"Name":None,"Marks":None,"Gender":"Female"}]
new_df=pd.concat([df,pd.DataFrame(rows)],ignore_index=True)

print(new_df)

   Roll       Name Marks  Gender
0     1      Kapil    67    Male
1     2      Reena    72  Female
2     3  Shatabdee    54  Female
3     4      Ankan    90    Male
4     4    Shubham  None    Male
5     5       None  None  Female

In [ ]:
new_df.drop(5,axis=0,inplace=True)
print(new_df)

   Roll       Name  Marks  Gender
0     1      Kapil     67    Male
1     2      Reena     72  Female
2     3  Shatabdee     54  Female
3     4      Ankan     90    Male
4     4    Shubham     85    Male

Data cleaning.

1) null values

In [ ]:
df=new_df

print(df.isna())

print(df.isna().sum())

print("Total=",df.isna().sum().sum())

    Roll   Name  Marks  Gender
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False
4  False  False   True   False
5  False   True   True   False
Roll      0
Name      1
Marks     2
Gender    0
dtype: int64
Total= 3

In [ ]:
df.dropna(inplace=True)
df

   Roll       Name Marks  Gender
0     1      Kapil    67    Male
1     2      Reena    72  Female
2     3  Shatabdee    54  Female
3     4      Ankan    90    Male

In [ ]:
df.fillna(90)

In [ ]:
print(df.duplicated())

0    False
1    False
2    False
3    False
dtype: bool

In [ ]:
print(df.drop_duplicates(subset=["Roll"]))

   Roll       Name Marks  Gender
0     1      Kapil    67    Male
1     2      Reena    72  Female
2     3  Shatabdee    54  Female
3     4      Ankan    90    Male

In [ ]:
print(df.groupby("Gender")["Marks"].mean())

Gender
Female    63.0
Male      78.5
Name: Marks, dtype: object

In [ ]:
print(df.where(df["Marks"]>70,other=0))

   Roll   Name Marks  Gender
0     0      0     0       0
1     2  Reena    72  Female
2     0      0     0       0
3     4  Ankan    90    Male

**1) a) Create list, tuple, set, with elements from 1 to 10**

**b) Create a list indexes with ["A","B",...."J"]**

**c) Convert the list, tuple, set into a pandas series, with manual index as the indexes list**

In [ ]:
my_list = list(range(1, 11))
my_tuple = tuple(range(1, 11))
my_set = set(range(1, 11))

ind=["A","B","C","D","E","F","G","H","I","J"]

In [ ]:
ls=pd.Series(my_list,index=ind)
print(ls)

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
dtype: int64

In [ ]:
ts=pd.Series(my_tuple,index=ind)
print(ts)

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
dtype: int64

In [ ]:
ss=pd.Series(my_set,index=ind)
print(ss)

TypeError: 'set' type is unordered

**2) Create a dictionary with 5 keys ( Name, Age, Occupation, Country, Experience),**
**in each key have value as a list of 3 elements**

**b) Convert that dictionary into a dataframe**

**c) Print the name and experince col**

In [ ]:
info = {'Name':['Vikas', 'Mohan', 'Saurav'] ,
        'Age': [33, 32, 30],
        'Occupation': ['Doctor', 'Engineer', 'Lawyer'],
        'Country': ['India', 'India', 'India'],
        'Exp': [8, 7, 6]
        }

print(info)

{'Name': ['Vikas', 'Mohan', 'Saurav'], 'Age': [33, 32, 30], 'Occupation': ['Doctor', 'Engineer', 'Lawyer'], 'Country': ['India', 'India', 'India'], 'Exp': [8, 7, 6]}

In [ ]:
df=pd.DataFrame(info)
print(df)

     Name  Age Occupation Country  Exp
0   Vikas   33     Doctor   India    8
1   Mohan   32   Engineer   India    7
2  Saurav   30     Lawyer   India    6

In [ ]:
print(df[["Name","Exp"]])

     Name  Exp
0   Vikas    8
1   Mohan    7
2  Saurav    6

# 3)

**a) Create a series with 10 elements ( 1, to 10)**

**b) Print the first 5 elements**

**c) print the last 5 elements**

**d) Change the 6th element with 100**

**e) Drop the 1st index ( or 1st row)**

In [ ]:
s = pd.Series(range(1, 11))
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
s.head(5)

In [ ]:
s.tail(5)

In [ ]:
s[6]=100
s

0      1
2      3
3      4
4      5
5      6
6    100
7      8
8      9
9     10
dtype: int64

In [ ]:
# s.drop(1,inplace=True)
s

0      1
2      3
3      4
4      5
5      6
6    100
7      8
8      9
9     10
dtype: int64

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE

**4) a) Convert the car dict into a data frame**

**b) add a row**

**c) Remove the row you added**

In [ ]:
d={
    "Company":["Bmw","Audi","Merc","Maruti","Tata"],
    "Price":[4500000,3700000,4900000,1000000,1200000],
    "Year":[2015,2017,2012,2020,2022]
}
print(d)

{'Company': ['Bmw', 'Audi', 'Merc', 'Maruti', 'Tata'], 'Price': [4500000, 3700000, 4900000, 1000000, 1200000], 'Year': [2015, 2017, 2012, 2020, 2022]}

In [ ]:
df=pd.DataFrame(d)
print(df)

  Company    Price  Year
0     Bmw  4500000  2015
1    Audi  3700000  2017
2    Merc  4900000  2012
3  Maruti  1000000  2020
4    Tata  1200000  2022

In [ ]:
new_row = {"Company": "Honda", "Price": 1500000, "Year": 2018}

df.loc[5]=new_row

df

  Company    Price  Year
0     Bmw  4500000  2015
1    Audi  3700000  2017
2    Merc  4900000  2012
3  Maruti  1000000  2020
4    Tata  1200000  2022
5   Honda  1500000  2018

In [ ]:
# df.drop(5,axis=0,inplace=True)
print(df)

  Company    Price  Year
0     Bmw  4500000  2015
1    Audi  3700000  2017
2    Merc  4900000  2012
3  Maruti  1000000  2020
4    Tata  1200000  2022

**d) Print the rows whose price is more than 4000000.**

**e) Print the rows where the year is > 2016**

In [ ]:
#d)
print(df[df["Price"]>4000000])

  Company    Price  Year
0     Bmw  4500000  2015
2    Merc  4900000  2012

In [ ]:
# e)
print(df[df["Year"]>2016])

  Company    Price  Year
1    Audi  3700000  2017
3  Maruti  1000000  2020
4    Tata  1200000  2022

# Penguins Case study

In [ ]:
url ="https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv"
df=pd.read_csv(url)
print(df.head())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE

# Analysing the data

**Basic analysis**

**Print the first 5 rows , and last 6 rows**



**1) Print the number of rows and cols in data**

**2) Print information about dataframe**

**3) Print statistical details ( min, max, mean, median mode) about the dataframe**

In [ ]:
print(df.head())
print(df.tail(6))

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE
    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
338  Gentoo  Biscoe            47.2           13.7              214.0
339  Gentoo  Biscoe             NaN            NaN                NaN
340  Gentoo  Biscoe            46.8           14.3              215.0
341  Gentoo  Biscoe            50.4           15.7              222.0
342  Gentoo  Biscoe            45.2           14.8              212.0
343  Gentoo  Biscoe            49.9           16.1              213.0

     body_mass_g     sex
338       4925.0  FEMALE
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

In [ ]:
#1)
print(df.shape)

(344, 7)

In [ ]:
#2)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

In [ ]:
#3)
print(df.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

**4) Print the names of all the columns**

**6) Print all the unique species**

In [ ]:
print(list(df.columns))

print("Unique species: ")
print(df["species"].unique())

['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']
Unique species:
['Adelie' 'Chinstrap' 'Gentoo']

**7) Print the penguins who are heavier than 4000g**

**8) Print the penguins from Dream island**

**9) Print the "Chinstrap" penguins who have flipper_length_mm greater then 200**

In [ ]:
#7)
print(df[df["body_mass_g"]>4000])

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
7    Adelie  Torgersen            39.2           19.6              195.0
9    Adelie  Torgersen            42.0           20.2              190.0
14   Adelie  Torgersen            34.6           21.1              198.0
17   Adelie  Torgersen            42.5           20.7              197.0
19   Adelie  Torgersen            46.0           21.5              194.0
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7              214.0
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
7         4675.0    MALE
9         4250.0     NaN
14        4400.0    MALE
17        4500.0    MALE
19        4200.0    MALE
..           ...     ...
338       4925.0  FEMALE
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[172 rows x 7 columns]

In [ ]:
#8)
print(df[df["island"]=="Dream"])

       species island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
30      Adelie  Dream            39.5           16.7              178.0
31      Adelie  Dream            37.2           18.1              178.0
32      Adelie  Dream            39.5           17.8              188.0
33      Adelie  Dream            40.9           18.9              184.0
34      Adelie  Dream            36.4           17.0              195.0
..         ...    ...             ...            ...                ...
215  Chinstrap  Dream            55.8           19.8              207.0
216  Chinstrap  Dream            43.5           18.1              202.0
217  Chinstrap  Dream            49.6           18.2              193.0
218  Chinstrap  Dream            50.8           19.0              210.0
219  Chinstrap  Dream            50.2           18.7              198.0

     body_mass_g     sex
30        3250.0  FEMALE
31        3900.0    MALE
32        3300.0  FEMALE
33        3900.0    MALE
34        3325.0  FEMALE
..           ...     ...
215       4000.0    MALE
216       3400.0  FEMALE
217       3775.0    MALE
218       4100.0    MALE
219       3775.0  FEMALE

[124 rows x 7 columns]

In [ ]:
#9)
print(df[(df["species"]=="Chinstrap") & (df["flipper_length_mm"]>200)])

       species island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
165  Chinstrap  Dream            52.0           18.1              201.0
167  Chinstrap  Dream            50.5           19.6              201.0
181  Chinstrap  Dream            52.8           20.0              205.0
183  Chinstrap  Dream            54.2           20.8              201.0
185  Chinstrap  Dream            51.0           18.8              203.0
189  Chinstrap  Dream            52.0           20.7              210.0
191  Chinstrap  Dream            53.5           19.9              205.0
192  Chinstrap  Dream            49.0           19.5              210.0
197  Chinstrap  Dream            50.8           18.5              201.0
199  Chinstrap  Dream            49.0           19.6              212.0
203  Chinstrap  Dream            51.4           19.0              201.0
205  Chinstrap  Dream            50.7           19.7              203.0
209  Chinstrap  Dream            49.3           19.9              203.0
210  Chinstrap  Dream            50.2           18.8              202.0
212  Chinstrap  Dream            51.9           19.5              206.0
215  Chinstrap  Dream            55.8           19.8              207.0
216  Chinstrap  Dream            43.5           18.1              202.0
218  Chinstrap  Dream            50.8           19.0              210.0

     body_mass_g     sex
165       4050.0    MALE
167       4050.0    MALE
181       4550.0    MALE
183       4300.0    MALE
185       4100.0    MALE
189       4800.0    MALE
191       4500.0    MALE
192       3950.0    MALE
197       4450.0    MALE
199       4300.0    MALE
203       3950.0    MALE
205       4050.0    MALE
209       4050.0    MALE
210       3800.0    MALE
212       3950.0    MALE
215       4000.0    MALE
216       3400.0  FEMALE
218       4100.0    MALE

In [ ]:
print(list(df.columns))

['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']

**10) Print the average of body mass**

**11) Print the mean flipper length for Gentoo(species)  penguines**

**12) Print the maximum bill length for penguins in Torgersen island**

In [ ]:
print(df["body_mass_g"].mean())

4201.754385964912

In [ ]:
print(df[df["species"]=="Gentoo"]["flipper_length_mm"].mean())

217.1869918699187

In [ ]:
print(df[df["island"]=="Torgersen"]["bill_length_mm"].max())

46.0

In [ ]:
mean_Flip = df[df["species"]=="Gentoo"]["flipper_length_mm"].mean()
print("Average flipper length", mean_Flip)

Average flipper length 217.1869918699187

**13) Find the minimum and mean of bill depth for all the species**

**14) Find the mean of mass (weight) of each island**

**15) Count the number of pengins in each species**

In [ ]:
print("Bill depth mean of all species: ")
print(df.groupby("species")['bill_depth_mm'].mean())
print("Bill depth min of all species: ")
print(df.groupby("species")['bill_depth_mm'].min())

Bill depth mean of all species:
species
Adelie       18.346358
Chinstrap    18.420588
Gentoo       14.982114
Name: bill_depth_mm, dtype: float64
Bill depth min of all species:
species
Adelie       15.5
Chinstrap    16.4
Gentoo       13.1
Name: bill_depth_mm, dtype: float64

In [ ]:
print(df.groupby("island")['body_mass_g'].mean())

island
Biscoe       4716.017964
Dream        3712.903226
Torgersen    3706.372549
Name: body_mass_g, dtype: float64

In [ ]:
print(df["species"].value_counts())

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

**16) Check of missing values in the data ( give the total number of na values as well)**

**17) Drop rows with any missing values**

In [ ]:
df.loc[344]=[None,None,None,None,None,None,None]
print(df.tail(3))

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
342  Gentoo  Biscoe            45.2           14.8              212.0
343  Gentoo  Biscoe            49.9           16.1              213.0
344    None    None             NaN            NaN                NaN

     body_mass_g     sex
342       5200.0  FEMALE
343       5400.0    MALE
344          NaN    None

/tmp/ipython-input-4056434553.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[344]=[None,None,None,None,None,None,None]

In [ ]:
print(df.isna())

     species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0      False   False           False          False              False
1      False   False           False          False              False
2      False   False           False          False              False
3      False   False            True           True               True
4      False   False           False          False              False
..       ...     ...             ...            ...                ...
340    False   False           False          False              False
341    False   False           False          False              False
342    False   False           False          False              False
343    False   False           False          False              False
344     True    True            True           True               True

     body_mass_g    sex
0          False  False
1          False  False
2          False  False
3           True   True
4          False  False
..           ...    ...
340        False  False
341        False  False
342        False  False
343        False  False
344         True   True

[345 rows x 7 columns]

In [ ]:
print(df.isna().sum())

species               1
island                1
bill_length_mm        3
bill_depth_mm         3
flipper_length_mm     3
body_mass_g           3
sex                  12
dtype: int64

In [ ]:
print(df.isna().sum().sum())

26

In [ ]:
df.dropna(inplace=True)

**18) Replace the null values in the numerical columns ( mass, bill length , depth, flipper lenght) with the mean of those columns**

In [ ]:
# m=df["mass"].mean()
# df["col"].fillna(m,inplace=True)

num_cols = ["bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g"]

df[num_cols]=df[num_cols].fillna(df[num_cols].mean())

**19) Replace the na values in categorical cols with mode**

In [ ]:
# cols=["species","island","sex"]
df['sex']=df['sex'].fillna(df['sex'].mode()[0])

df['species']=df['species'].fillna(df['species'].mode()[0])

df['island']=df['island'].fillna(df['island'].mode()[0])

num_cols = ["bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g"]

df[num_cols]=df[num_cols].fillna(df[num_cols].mean())
print(df)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen        39.10000       18.70000         181.000000
1    Adelie  Torgersen        39.50000       17.40000         186.000000
2    Adelie  Torgersen        40.30000       18.00000         195.000000
3    Adelie  Torgersen        43.92193       17.15117         200.915205
4    Adelie  Torgersen        36.70000       19.30000         193.000000
..      ...        ...             ...            ...                ...
340  Gentoo     Biscoe        46.80000       14.30000         215.000000
341  Gentoo     Biscoe        50.40000       15.70000         222.000000
342  Gentoo     Biscoe        45.20000       14.80000         212.000000
343  Gentoo     Biscoe        49.90000       16.10000         213.000000
344  Adelie     Biscoe        43.92193       17.15117         200.915205

     body_mass_g     sex
0    3750.000000    MALE
1    3800.000000  FEMALE
2    3250.000000  FEMALE
3    4201.754386    MALE
4    3450.000000  FEMALE
..           ...     ...
340  4850.000000  FEMALE
341  5750.000000    MALE
342  5200.000000  FEMALE
343  5400.000000    MALE
344  4201.754386    MALE

[345 rows x 7 columns]